<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="autoEcoleVS2005.Properties.Settings.base_de_donneesConnectionString"
            connectionString="Data Source=papy-hp\sqlexpress1;Initial Catalog=base_de_donnees;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>